/* Seiteneinteilung */
body {
    display: grid;
		gap: 0.5em;
}

@media (min-width: 40em) { 
	body {
		grid-template-columns: 3fr 3fr;	
		grid-template-rows: auto 1fr 100px;
	}
}

header,footer {
	grid-column: 1 / -1;
}

/*Andere Designelemente*/
body
{
    background-color: rgb(39, 43, 48);
	color: white;
}

/*Textfelder*/
#LoginBlockLeftText
{
    border-style:groove;
    background-color: rgb(39, 43, 48);
    border-radius: 18px;
}

#LoginBlockRight
{
    border-style:groove;
    background-color: rgb(39, 43, 48);
    border-radius: 18px;
}

/*Einloggen-Button*/
#LoginButton
{
    border-radius: 5px;
    box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    background-color: green;
    color: white;
    border: 1px solid lightslategray;
}

#LoginInputUser
{
    border-radius: 5px;
    border: 1px solid lightslategray;
}

