/*Side divisions*/
body {
    display: grid;
		gap: 0.5em;
	background-color: rgb(39, 43, 48);
	color: white;
}

@media (min-width: 40em) { 
	body {
		grid-template-columns: 4fr 2fr;	
		grid-template-rows: auto 1fr 100px;
	}
}

header,footer {
	grid-column: 1 / -1;
}

/*Other designelements*/

/*Textfelder*/
#FromTimeB1 
{
	border-radius: 5px;
    border: 1px solid lightslategray;
	width: 65px;
	height: 12px;
}

#TilTimeB1
{
	border-radius: 5px;
    border: 1px solid lightslategray;
	width:65px;
	height: 12px;
}


#FromTimeB2 
{
	border-radius: 5px;
    border: 1px solid lightslategray;
	width:65px;
	height: 12px;
}

#TilTimeB2
{
	border-radius: 5px;
    border: 1px solid lightslategray;
	width:65px;
	height: 12px;
}

#FromTimeB3 
{
	border-radius: 5px;
    border: 1px solid lightslategray;
	width:65px;
	height: 12px;
}

#TilTimeB3
{
	border-radius: 5px;
    border: 1px solid lightslategray;
	width:65px;
	height: 12px;
}


/*Buttons*/
#AutoOn
{
	border-radius: 5px;
    background-color: green;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#AutoOff
{
	border-radius: 5px;
    background-color: red;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#Area1On
{
	border-radius: 5px;
    background-color: green;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#Area1Off
{
	border-radius: 5px;
    background-color: red;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#Area2On
{
	border-radius: 5px;
    background-color: green;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#Area2Off
{
	border-radius: 5px;
    background-color: red;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#Area3On
{
	border-radius: 5px;
    background-color: green;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}

#Area3Off
{
	border-radius: 5px;
    background-color: red;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 1px solid lightslategray;
}
/*Erweiterbar auf Area 51 :P*/

#Logout
{
	border-radius: 5px;
    background-color: white;
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: black;
    border: 1px solid lightslategray;
	width: 80px;
}

#msg
{
	border-radius: 5px;
    background-color: rgb(39, 43, 48);
	box-shadow: 0 0px 16px 0 rgba(238, 232, 232, 0.445), 0 6px 20px 0 rgba(253, 243, 243, 0.459);
    color: white;
    border: 0px solid lightslategray;
	width: 120px;
}

 